@import "tailwindcss";

@theme {
    --font-sf-header: 'SF Pro Display', sans-serif;
    --font-sf-text: 'SF Pro Text', sans-serif;
    --font-sf-ui: 'SF Pro Rounded', sans-serif;
}

html, body {
    @apply font-sf-text;
}